{% extends "layout/base.twig" %}
{% block content %}

<section class="content-header">
        <h1>
          Blank Page<small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
          <li> <a href="#"> <i class="fa fa-dashboard"></i>Level </a></li>
          <li class="active">Here </li>
        </ol>
      </section>
<section class="content">
  <section class="col-lg-12 connectedSortable">
    <div class="container-fluid">
        <label for=""> Hola mundo</label>


    </div>
  
  </section>

</section>
    
      
{% endblock content %}
